trainer:
  max_epochs: 1000
  accelerator: auto
  devices: auto
  precision: 16-mixed
  gradient_clip_val: 1.0
  log_every_n_steps: 100
  check_val_every_n_epoch: 10
  enable_checkpointing: true
  enable_progress_bar: true
  enable_model_summary: true
